@import "../../config";
@import "../../components/GameInfoFeatures/GameInfoFeature";


.app__gameInfo{
  background-color: $text-color;
  &--title{
    width:100%;
    text-align: center;
    font-size:40px;
    padding:20px 0;
    font-weight:700;
    color: $accent-primary-color;
    letter-spacing: 1px;
    @media  screen and (max-width:800px) {
      font-size: 30px;
    }
 
  }
  &_container{
    width:100%;
    @include flex-center(column, center, center);
  }
}