@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

$good-email-color: hsl(120, 62%, 51%);
$text-color: hsl(0, 0%, 87%);
$text-color-opacity: hsl(0, 0%, 87%, 0.8);
$background-secondary-color: hsl(0, 0%, 94%);
$background-color: hsl(0, 0%, 7%);
$accent-primary-color: hsl(60, 76%, 47%);
$accent-secondary-color: hsl(0, 70%, 46%);
$primary-font: "Kode Mono", monospace;
$features-width: 100% * 3;
$features-height: 200px;
$transition-duration: 250ms;
$transition-duration-alternative: 400ms;
$font-size-navbar: 16px;

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
