@import "./containers/landing/Landing";
@import "./config";
@import "./containers/GameInfo/GameInfo";
@import "./containers/Awards/Awards.scss";
@import "./containers/Questions/Questions.scss";
@import "./containers/Footer/Footer.scss";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}
